* {
    box-sizing: border-box;
    background-color: rgb(9, 7, 16);
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.header .heading {
    align-items: left;
    color: white;
}

.header .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 35px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.nav-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    color: white;
}

.nav-menu.active {
    display: flex;
}

.nav-menu a {
    color: grey;
    text-decoration: none;
    gap: 5px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: background-color 0.3s, padding-left 0.3s;
}

.intro {
    margin-top: 200px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.5px;
    height: 100vh;
}

.intro h4 {
    font-size: small;
    color: purple;
}

.intro h2 {
    font-size: 2rem;
    background: linear-gradient(to right, rgb(102, 0, 128), rgb(26, 123, 176), rgb(67, 163, 214));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.changing-text-place-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}

.changing-text {
    color: rgb(186, 186, 186);
    font-weight: 600;
}

.changing-text-place {
    color: purple;
    font-weight: 700;
}

.intro-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-buttons:hover {
    cursor: pointer;
}

.intro-projects {
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(102, 0, 128), rgb(26, 123, 176), rgb(67, 163, 214));
    padding: 10px 20px;
}

.intro-projects:hover {
    background: linear-gradient(to right, rgb(67, 163, 214), rgb(26, 123, 176), rgb(102, 0, 128));
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s, background 0.3s;
}

.intro-contact:hover {
    background-color: blueviolet;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s, background-color 0.3s;
}

.intro-contact {
    border: 2px solid;
    border-color: blueviolet;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    margin-left: 20px;
}

.about {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 30%;
}

.about-text {
    margin-top: 50px;
    text-align: left;
    align-items: left;
    letter-spacing: 0.5px;
    color: white;
}

.skills {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills-heading {
    background: linear-gradient(to right, rgb(102, 0, 128), rgb(26, 123, 176), rgb(67, 163, 214));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    color: white;
}

.element {
    border: solid 1px grey;
    padding: 20px;
    border-radius: 30px;
}

.element:hover {
    border-color: rgb(149, 25, 190);
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s;
}

.projects {
    width: 100%;
    padding-left: 3%;
    margin-top: 100px;
}

.projects h2 {
    color: white;
    display: flex;
    gap: 7px;
    justify-content: flex-start;
    text-align: left;
}

.projects-heading {
    background: linear-gradient(to right, rgb(102, 0, 128), rgb(26, 123, 176), rgb(67, 163, 214));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-cards {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    border: solid 1px rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    color: white;
}

.card:hover {
    border-color: rgb(149, 25, 190);
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.3s;
}

.card h3 {
    color: rgb(255, 255, 255);
}

.card:hover h3 {
    color: rgb(149, 25, 190);
    transform: scale(1.02);
    transition: transform 0.3s;
}

.card p {
    color: rgb(186, 186, 186)
}

.experience {
    margin-top: 100px;
    width: 100%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience h2 {
    display: flex;
    color: white;
    gap: 7px;
    justify-content: flex-start;
    text-align: left;
}

.experience-heading {
    background: linear-gradient(to right, rgb(102, 0, 128), rgb(26, 123, 176), rgb(67, 163, 214));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experience-item {
    display: grid;
    grid-template-columns: 120px auto;
    ;
    gap: 30px;
    color: white;
}

.experience p {
    color: rgb(186, 186, 186)
}

.contact {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    align-items: center;
}

.contact h2 {
    color: white;
    display: flex;
    justify-content: center;
    gap: 7px;
}

.contact-heading {
    background: linear-gradient(to right, rgb(102, 0, 128), rgb(26, 123, 176), rgb(67, 163, 214));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.icon-button {
    border-radius: 50%;
    border: none;
}

.icon {
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

@media(min-width: 1000px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    .header .hamburger {
        display: none;
    }

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        color: white;
    }

    .about {
        flex-direction: row;
        justify-content: space-around;
    }

    .profile-pic {
        width: 300px;
        height: 300px;
    }

    .about-text {
        margin-top: none;
    }
}